<%- include('partials/_header') %>

  <main class="container mt-4">

    <section id="flash" class="mb-3"></section>

    <div class="mb-3">
      <label for="<%= note.id %>" class="form-label">Title</label>
      <input id="<%= note.id %>" class="text form-control" type="text" value="<%= note.title %>" disabled="true" />
    </div>

    <div id="editor" class="form-control">
      <%- note.body %>
    </div>

    <button id="saveButton" class="btn btn-primary mt-3">Save</button>

  </main>

  <footer class="navbar fixed-bottom navbar-dark bg-dark p-0">
	  <button class="btn btn-sm btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapse"
			aria-controls="footerCollapse" aria-expanded="false" aria-label="Toggle navigation">
			>
		</button>
		<div class="collapse navbar-collapse pt-1" id="footerCollapse">
			<div id="terminal"></div>
		</div>
	</footer>

  <script src="/scripts/editor.js" defer></script>
  <script src="/scripts/terminal.js" defer></script>

<%- include('partials/_footer') %>
