<!-- notes.ejs -->
<%- include('partials/_header') %>

  <header class="navbar border-dark border-bottom p-1">
    <nav class="btn-group">
      <a class="btn btn-sm" href="/">Home</a>
    </nav>
    <nav class="btn-group">
      <a class="btn btn-sm" href="/logout">Logout</a>
    </nav>
  </header>

  <!-- Display notes within a centered div with top margin -->
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ol class="list-group list-group-numbered">
          <% for (const note of userNote) { %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">
                  <%= note.title %>
                </div>

                <!-- Display "Last edited" and note.updated_at -->
                <div class="text-muted">Last edited: <%= note.updated_at.toISOString().split('T')[0] %>
                </div>
              </div>

              <!-- Replace the creation date with a button for reading and deleting -->
              <div class="d-flex align-items-center">
                <a href="/notes/read/<%= note.id %>" class="btn btn-primary me-2">Read</a>
                <form action="/notes/delete/<%= note.id %>" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </li>
            <% } %>
        </ol>
      </div>
    </div>
  </div>


  <%- include('partials/_footer') %>